<div class="reveal">
  <div class="slides">
    {{yield}}
  </div>
  <div class="reveal-controls -horizontal -left">
    <a href="#" class="navigate-left"></a>
  </div>
  <div class="reveal-controls -horizontal -right">
    <a href="#" class="navigate-right"></a>
  </div>
  <div class="reveal-controls -vertical">
    <a href="#" class="navigate-up"></a>
    <a href="#" class="navigate-down"></a>
  </div>
  <div class="reveal-actions">
    <div class="index" {{action 'toggleModal' 'content' }}>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a id="sliderTitles" href="#">TABLE OF CONTENT</a>
    </div>
    <div class="toolbar">
      <a href="#" {{action 'toggleModal' 'download' }}>DOWNLOAD</a>
    </div>
  </div>
</div>

{{#if isShowingContentModal}}
  {{#modal-dialog targetAttachment="center"}}
    <span class="close" {{action 'toggleModal' 'content' }}></span>
    <h1>Table of contents</h1>
    <h2 {{action 'goToSlide' '2' }}>Go to slide 2</h2>
  {{/modal-dialog}}
{{/if}}

{{#if isShowingDownloadModal}}
  {{#modal-dialog targetAttachment="center"}}
    <span class="close" {{action 'toggleModal' 'download' }}></span>
    <h1>Downloads</h1>
  {{/modal-dialog}}
{{/if}}
