<div class="container-fluid wash-indicators">
  <div class="row section-header">
    <h4 class="section-title text-center">Observed Temperature Changes in Puget Sound</h4>
    <hr class="separator">
    <p class="subtitle">The Puget Sound region has experienced long-term warming, a lengthening of the frost-free season, and more frequent nighttime heat waves.</p>
  </div>
  <div class="row indicators">
    <div class="row">
      <div class="col-xs-6">
        {{dashboard-card indicator_id="washington_chart_one"}}
      </div>
      <div class="col-xs-6">
        {{dashboard-card indicator_id="washington_chart_two"}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{dashboard-card indicator_id="washington_map_one"}}
      </div>
    </div>
  </div>
  <div class="row section-header margin-top-95">
    <h4 class="section-title text-center">Projected Temperature Changes in Puget Sound</h4>
    <hr class="separator">
    <p class="subtitle">The Puget Sound region is project to warm rapidly during the 21st century. Prior to mid-century, the project increase in air temperatures is about the same for all greenhouse gas scenarios, a result of the fact that a certain amount of warming is already "locked in" due to past emissions. After about 2050, projected warming depends on the amount of greenhouse gases emitted globally in the coming decades.</p>
    <p class="dash-w-summary-more coming-soon">Read more</p>
  </div>

  <!-- <div class="row indicators">
    <div class="row">
      <div class="col-xs-6">
        {{dashboard-card indicator_id="washington_chart_three"}}
      </div>
      <div class="col-xs-6">
        {{dashboard-card indicator_id="washington_chart_four"}}
      </div>
    </div>
    <div class="row post-section">
      <div class="col-xs-9 col-xs-offset-2">
        <p class="post-section-text">All scenarios project warming in the Puget Sound region for the 21st century; projected changes in annual precipitation are small compared to year-to-year variability.</p>
        <p class="dash-w-summary-more">Read more.</p>
      </div>
    </div>
  </div> -->
</div>

<div class="container-fluid dashboard-prefooter">
  <div class="row">
      <div class="col-xs-6">
          {{#link-to 'data'}}
              <div class="pre-footer">
                  <div class="row text-center">
                      <p class="header">Datasets</p>
                  </div>
                  <div class="row text-center">
                      <p class="desc">Explore the entire set of data contributed by our community</p>
                  </div>
                  <div class="row text-center">

                      <p class="explore">EXPLORE THE MAP</p>

                  </div>
              </div>
          {{/link-to }}
    </div>
    <div class="col-xs-6">
      <div class="pre-footer coming-soon">
        <div class="row text-center">
          <p class="header">Insights</p>
        </div>
        <div class="row text-center">
          <p class="desc">Read stories about success in resilience planning</p>
        </div>
        <div class="row text-center">
          <p class="explore">EXPLORE THE INSIGHTS</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid create">
  <div class="row text-center">
    <div class="col-xs-6">
      <p>Do you have relevant data about climate?</p>
    </div>
    <div class="col-xs-6">
      <p>Would you like to improve a dashboard?</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6">
      <button class="btn btn-lg btn-create coming-soon">CREATE YOUR DASHBOARD</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-contact coming-soon">GET IN TOUCH</button>
    </div>
  </div>
</div>
