<ul class='nav navbar-nav navbar-right'>
  <li>
    {{#link-to 'data'}}{{t 'header.navRight.data'}}{{/link-to}}
  </li>
  <li>
    {{#link-to 'dashboards'}}{{t 'header.navRight.dashboards'}}{{/link-to}}
  </li>
  <li>
    {{#link-to 'insights'}}{{t 'header.navRight.insights'}}{{/link-to}}
  </li>
  <li>
    <hr class="header-separator">
  </li>
  <li>
    {{#link-to 'search'}}{{t 'header.navRight.search'}}{{/link-to}}
  </li>

  {{header-locale-dropdown}}
  
</ul>